/*@import url(reset.css);*/

body{
	margin: 0 0;
}

.wrapper{
	position: relative;
}

.menu{
	width: 100%;
	height: 45px;
	background-color: rgb(242,242,242);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.fotofon{
	height: 720px;
	width: 1280px;
	margin: 5px auto;
}

.a1, .a2, .a3, .a4{
	text-decoration: none;
	color: rgb(50,50,50);
	padding: 0 30px 0 30px;
}

.a1:hover{
	color: rgb(150,150,150);
}

.a2:hover{
	color: rgb(150,150,150);
}

.a3:hover{
	color: rgb(150,150,150);
}

.a4:hover{
	color: rgb(150,150,150);
}

li{
	display: inline;
}

.rocli{
	text-align: center;
	font-family: 'Arial', serif;
	font-weight: 400;
	font-size: 17px;
	padding: 14px 40px 0 40px;
	margin: 0;
}

h1{
	font-family: 'Cormorant SC', serif;
	font-weight: 400;
	font-size: 80px;
	text-align: center;
}

.bc{
	position: absolute;
	top: 7px;
	left: 100px;
}

.fotoK{
	float: right;
	margin: 10px 10px 10px 40px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.kai{
	height: 620px;
	width: 1500px;
	font-weight: 700;
	font-size: 30px;
	margin: 100px auto 0;
	font-family: 'Playfair Display', serif;
	border: 5px solid rgb(242,242,242);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.wong{
	margin-left: 20px;
}

.kw{
	margin: 20px;
	font-family: 'Cormorant SC', serif;
}

.poul{
	height: 620px;
	width: 1500px;
	font-weight: 700;
	font-size: 30px;
	margin: 80px auto 0;
	font-family: 'Playfair Display', serif;
	border: 5px solid rgb(242,242,242);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.pould{
	margin: 20px;
	font-family: 'Cormorant SC', serif;
}

.pl{
	margin-left: 20px;
}

.form{
	height: 420px;
	width: 550px;
	font-weight: 300;
	font-size: 25px;
	margin: 80px 0 0 196px;
	font-family: 'Playfair Display', serif;
	border: 5px solid rgb(242,242,242);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	float: left;
}

.clear{
	clear: both;
}

.karusel{
	height: 420px;
	width: 900px;
	font-weight: 300;
	font-size: 25px;
	margin: 80px 196px 0 0;
	font-family: 'Playfair Display', serif;
	border: 5px solid rgb(242,242,242);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	float: right;
}

.fon112{
	height: 380px;
	width: 500px;
	margin: 6px;
	border-style: none;
}

.q1, .q2, .q3, .q4{
	color: black;
}

.forma{
	border: 0px solid red;
}

.aa1{
	margin: 7px 0 0 0;
	font-size: 35px;
}

.otpr1{
	width: 120px;
	height: 40px;
	background-color: rgb(202,202,202);
	margin: 25px;
	border-radius: 10px;
	border-style: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 18px;
}

/*.karusel{
	height: 420px;
	width: 550px;
	font-weight: 300;
	font-size: 25px;
	margin: 100px 850px 0;
	font-family: 'Playfair Display', serif;
	border: 5px solid rgb(242,242,242);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	
}*/

footer{
	height: 200px;
	widows: 100%;
	background-color: rgb(242,242,242);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	position: relative;
	margin-top: 80px;
}

.bch{
	margin: 30px 0 20px 190px;
}

.dmenu{
	position: absolute;
	bottom: 65px;
	right: 630px;
	font-family: 'Arial', serif;
	font-weight: 400;
	font-size: 20px;
}

.in1, .in2, .in3, .in4{
	height: 44px;
	margin-top: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-style: none;
	font-size: 16px;
}